.task-detail-container {
    background-color: #9a9d9e;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    box-shadow: 10px 10px 10px 10px #cccccc;
}

.task-detail-container a { 
    background-color: #079DDA;
    color: #212629;
    border: 1px solid #079DDA;
    padding: 5px;
    padding-left: 5px;
    text-decoration: none;
    margin: 3px;
    width: 95px;
    border-radius: 5px;
    transition: 0.5s;
}

.task-detail-container a:hover { 
    background-color: white;
    border: 1px solid #079DDA;
}

.task-detail-container h1 { 
    border-bottom: 2px solid black;
}

.task-detail-container span {
    opacity: 50%;
}

.task-detail-container p { 
    font-size: 20px;
    margin-bottom: 40px;
}