

<form (ngSubmit)="createTask()">
    <h2>Let's create a new Task</h2>
    <input type="text" class="title" name="title" placeholder="Task" [(ngModel)]="newTask.title">

    <input type="text" class="body" name="body" placeholder="Description" [(ngModel)]="newTask.body">
    <button type="submit">Add Task</button>
</form>


<div class="search-container">
  <div class="header">
    <h2>Search a task!</h2>

    <input
      class="search"
      placeholder="search"
      (ngModelChange)="handleChange($event)"
      [ngModel]="title"
    />
  </div>

  <div class="tasks-section">

    <!-- looping through the data in title -->
    <div *ngFor="let t of task" class="task-item">

      <!-- we are setting each anchor tag to a link with the router, to the id of the task -->
      <h3>{{ t.title }}</h3>
      <div class="buttons">
        <a routerLink="/details/{{ t.id }}"> View Task </a>
        <a routerLink="/update/{{ t.id }}"> Update Task </a>
        <a (click)="deleteTask(t.id)"> Delete </a>
      </div>
    
    </div>
  </div>
</div>

